---
pagination:
  data: collections.docs
  size: 1
  alias: 'doc'
  addAllPagesToCollections: true
layout: 'layouts/doc.njk'
permalink: '{{ doc.url }}'
---

{{ doc.html | safe if doc.html else "Page content not found" }}

<script async src="https://widget.websitevoice.com/trlfdVSoCKFC1lTWU_KeZQ"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'trlfdVSoCKFC1lTWU_KeZQ');
</script>
